---
layout: default
---
<div class="row">
    <h2 class="small-12 medium-12 large-12 columns">{{ page.title }}</h2>
    <p class="meta small-12 medium-12 large-12 columns">{{ page.date | date_to_string }}</p>
</div>

<div class="row">
    <div class="small-12 column">{{ content }}</div>
    {% for thumb in page.thumb %}
    <div class="small-6 medium-6 columns">
        <img class="lazy screenshot" data-original="{{ site.baseurl }}/img/{{ page.imgPath }}/{{ thumb }}" width="320" height="568"  alt="">
    </div>
    {% endfor %}
</div>

